<h1>
    <%= page.title %>
    <% if (page.isNew && theme && theme.effects) { %>
    <%- include('../partials/new-badge') %>
    <% } %>
</h1>

<table width="100%" border="0" cellpadding="5" cellspacing="0">
    <tr>
        <td bgcolor="#E0E0E0">
            <font size="2" face="Arial, Helvetica, sans-serif">
                <b>Posted by:</b> <%= page.author %> | 
                <b>Date:</b> <%= page.date %>
                <% if (page.tags && page.tags.length > 0) { %>
                    | <b>Tags:</b> <%= page.tags.join(', ') %>
                <% } %>
            </font>
        </td>
    </tr>
</table>

<br>

<%- page.content %>

<% if (theme && theme.effects && theme.effects.flames) { %>
<hr class="flame">
<% } else { %>
<hr class="shadow">
<% } %>

<%# Post navigation %>
<% if (page.prevPost || page.nextPost) { %>
<%- include('../partials/post-navigation') %>
<% } else { %>
<center>
    <table border="0" cellpadding="10" cellspacing="0">
        <tr>
            <td>
                <a href="/">
                    <img src="/images/icons/globe.gif" alt="Home" border="0" width="32" height="32">
                    <br>
                    <font size="2">Back to Home</font>
                </a>
            </td>
            <% if (page.email) { %>
            <td>
                <%- include('../partials/email-link', { 
                    email: page.email, 
                    text: 'Email Author' 
                }) %>
            </td>
            <% } %>
        </tr>
    </table>
</center>
<% } %>